@import "tailwindcss";

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

/* variables */
:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

/* base styles */
body {
  @apply font-sans bg-n-8 text-n-1 text-base;
}
/* rotations */
.rotate-45 { transform: rotate(45deg); }
.rotate-90 { transform: rotate(90deg); }
.rotate-135 { transform: rotate(135deg); }
.rotate-180 { transform: rotate(180deg); }
.rotate-225 { transform: rotate(225deg); }
.rotate-270 { transform: rotate(270deg); }
.rotate-315 { transform: rotate(315deg); }
.rotate-360 { transform: rotate(360deg); }

.-rotate-45 { transform: rotate(-45deg); }
.-rotate-90 { transform: rotate(-90deg); }
.-rotate-135 { transform: rotate(-135deg); }
.-rotate-180 { transform: rotate(-180deg); }
.-rotate-225 { transform: rotate(-225deg); }
.-rotate-270 { transform: rotate(-270deg); }
.-rotate-315 { transform: rotate(-315deg); }
.-rotate-360 { transform: rotate(-360deg); }
